name: CI with Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t myapp:latest .

    - name: Run Docker Container
      run: docker run -d -p 3000:3000 myapp:latest
