name: CI with Docker

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: List files (debug)
      run: ls -la

    - name: Build Docker Image
      run: docker build -t health-app:latest .

    - name: Run Docker Container
      run: docker run -d -p 8080:80 health-app:latest
